<div class="b-benefits">
    <div class="benefits__item">
        <img src="./img/benefits-icon-6.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-7.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-8.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-9.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-10.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-11.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-12.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-13.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-14.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-15.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-16.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-17.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-18.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-19.svg" alt="">
        <span>Это тестовый <br> контент</span>
    </div>
</div>