<div class="b-benefits">
    <div class="benefits__item">
        <img src="./img/benefits-icon-1.svg" alt="">
        <span>Производим <br> качественные теплицы</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-2.svg" alt="">
        <span>Гарантия <br> цена-качество</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-3.svg" alt="">
        <span>Собственное <br> производство</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-4.svg" alt="">
        <span>Теплицы всегда <br> в наличии</span>
    </div>
    <div class="benefits__item">
        <img src="./img/benefits-icon-5.svg" alt="">
        <span>Установленл <br> за время работы</span>
    </div>
</div>