<div class="b-form">
    <h2>Рыбатекст</h2>
    <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
    <form>
        <div class="form__item">
            <div class="form__inputs">
                <div class="form__input">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-1" required>
                        <label for="form-input-1">Контактное лицо *</label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-input">
                        <input type="phone" name="" id="form-input-2" required>
                        <label for="form-input-2">Телефон *</label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-input">
                        <input type="email" name="" id="form-input-3" required>
                        <label for="form-input-3">E-mail *</label>
                    </div>
                </div>
                <div class="form__input form__input--x3">
                    <div class="b-input">
                        <textarea name="" id="form-textarea-1" required></textarea>
                        <label for="form-textarea-1">Ваш комментарий *</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__footer">
            <div class="form__agree">
                Нажатием кнопки я принимаю условия <a href="#">Оферты</a> по использованию сайта и согласен с <a href="#">Политикой конфиденциальности</a> 
            </div>
            <div class="form__btn">
                <button type="submit">Заказать прайс-лист</button>
            </div>
        </div>
    </form>
</div>