<div class="b-callback">
    <picture class="callback__pic">
        <source srcset='./img/callback-pic.webp' type='image/webp'>
        <source srcset='./img/callback-pic.png' type='image/png'>
        <img src='./img/callback-pic.png' alt=''>
    </picture>
    <div class="callback__content">
        <h2>Eсть вопросы?</h2>
        <p>Если у вас есть вопросы к нашим специалистам, мы будем рады проконсультировать вас по телефону <a href="tel:88003021602">8 800 302 16 02</a> или электронной почте <a href="mailto:smol.ft@yandex.ru">smol.ft@yandex.ru</a></p>
    </div>
</div>