<div class="b-cart">
    <div class="cart__items">
        <div class="cart__item">
            <picture class="cart__pic">
                <source srcset='./img/catalog-pic.webp' type='image/webp'>
                <source srcset='./img/catalog-pic.png' type='image/png'>
                <img src='./img/catalog-pic.png' alt=''>
            </picture>
            <div class="cart__content">
                <div class="cart__article">Артикул</div>
                <div class="cart__title"><a href="#">Теплица Урожайная ЭКОНОМ</a></div>
                <ul class="cart__specs">
                    <li><span>Размер теплицы:</span> 3 x 4 метров</li>
                    <li><span>Сборка:</span> да</li>
                </ul>
            </div>
            <div class="cart__price">
                <span>Цена</span> 18 000 <span class="b-ruble-fornt">Р</span>
            </div>
        </div>
    </div>
</div>