<div class="b-checkout">
    <h2 class="h1">Оформление заказа</h2>
    <form>
        <div class="checkout__item">
            <div class="checkout__separator"><span>Контактные данные</span></div>
            <div class="checkout__inputs">
                <div class="checkout__input">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-1" required>
                        <label for="form-input-1">Контактное лицо *</label>
                    </div>
                </div>
                <div class="checkout__input">
                    <div class="b-input">
                        <input type="phone" name="" id="form-input-2" required>
                        <label for="form-input-2">Телефон *</label>
                    </div>
                </div>
                <div class="checkout__input">
                    <div class="b-input">
                        <input type="email" name="" id="form-input-3" required>
                        <label for="form-input-3">E-mail *</label>
                    </div>
                </div>
                <div class="checkout__input">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-4" required>
                        <label for="form-input-4">Почтовый индекс *</label>
                    </div>
                </div>
                <div class="checkout__input checkout__input--x2">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-5" required>
                        <label for="form-input-5">Адрес доставки *</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout__item">
            <div class="checkout__separator"><span>Способ доставки</span></div>
            <div class="checkout__inputs">
                <div class="checkout__input">
                    <div class="b-inputbox b-inputbox--radio">
                        <input type="radio" name="deliv" id="deliv-1">
                        <label class="inputbox__input" for="deliv-1"></label>
                        <label class="inputbox__label" for="deliv-1">Самовывоз (бесплатно)</label>
                    </div>
                </div>
                <div class="checkout__input checkout__input--x2">
                    <div class="b-inputbox b-inputbox--radio">
                        <input type="radio" name="deliv" id="deliv-2">
                        <label class="inputbox__input" for="deliv-2"></label>
                        <label class="inputbox__label" for="deliv-2">Доставка по Смоленской области (30 р/км)</label>
                    </div>
                </div>
                <div class="checkout__input">
                    <div class="b-inputbox b-inputbox--radio">
                        <input type="radio" name="deliv" id="deliv-3">
                        <label class="inputbox__input" for="deliv-3"></label>
                        <label class="inputbox__label" for="deliv-3">Доставка по Смоленску (500 р) </label>
                    </div>
                </div>
                <div class="checkout__input checkout__input--x2">
                    <div class="b-inputbox b-inputbox--radio">
                        <input type="radio" name="deliv" id="deliv-4">
                        <label class="inputbox__input" for="deliv-4"></label>
                        <label class="inputbox__label" for="deliv-4">Доставка по регионам РФ до транспортной компании в Смоленске (бесплатно) <ins>+ по тарифу транспортной компании до вашего города</ins></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout__item">
            <div class="checkout__separator"><span>Способ оплаты</span></div>
            <div class="checkout__inputs">
                <div class="checkout__input">
                    <div class="b-inputbox b-inputbox--radio">
                        <input type="radio" name="payment" id="payment-1">
                        <label class="inputbox__input" for="payment-1"></label>
                        <label class="inputbox__label" for="payment-1">Оплата онлайн картами VISA, MASTERCARD</label>
                    </div>
                </div>
                <div class="checkout__input checkout__input checkout__input--x2">
                    <div class="b-inputbox b-inputbox--radio">
                        <input type="radio" name="payment" id="payment-2">
                        <label class="inputbox__input" for="payment-2"></label>
                        <label class="inputbox__label" for="payment-2">Безналичный расчет</label>
                    </div>
                </div>
                <div class="checkout__input">
                    <div class="b-inputbox b-inputbox--radio">
                        <input type="radio" name="payment" id="payment-3">
                        <label class="inputbox__input" for="payment-3"></label>
                        <label class="inputbox__label" for="payment-3">Наличными при получении</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout__item">
            <div class="checkout__separator"><span>Дополнительные пожелания</span></div>
            <div class="checkout__inputs">
                <div class="checkout__input checkout__input--x3">
                    <div class="b-input">
                        <textarea name="" id="form-textarea-1" required></textarea>
                        <label for="form-textarea-1">Ваш комментарий *</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout__footer">
            <div class="checkout__agree">
                <div class="b-inputbox b-inputbox--checkbox">
                    <input type="checkbox" name="agree" id="agree-1" checked required>
                    <label class="inputbox__input" for="agree-1"></label>
                    <label class="inputbox__label" for="agree-1"><a href="#">Я согласен с условиями лицензионного соглашения</a> *</label>
                </div>
            </div>
            <div class="checkout__btn">
                <button type="submit">Оформить заказ</button>
            </div>
        </div>
    </form>
</div>