<div class="b-product">
    <div class="product__gallery">
        //= ./catalog-product-gallery.html
    </div>
    <div class="product__content">
        <div class="product__desc">
            <h1>Теплица с тентом из армированной пленки</h1>
            <p>Качественная и выгодная</p>
        </div>
        <div class="product__footer">
            <div class="product__oldprice">26 650 <span class="b-ruble-font">Р</span></div>
            <div class="product__price">18 000 <span class="b-ruble-font">Р</span></div>
        </div>
        <div class="product__options">
            <div class="product__option">
                <div class="b-select">
                    <select name="" id="">
                        <option value="">2 x 2 метров</option>
                        <option value="">3 x 4 метров</option>
                        <option value="">4 x 6 метров</option>
                    </select>
                </div>
            </div>
            <div class="product__option product__option--border">
                <div class="b-inputbox b-inputbox--checkbox">
                    <input type="checkbox" name="build-checkbox" id="build-checkbox">
                    <label class="inputbox__input" for="build-checkbox"></label>
                    <label class="inputbox__label" for="build-checkbox">Сборка</label>
                </div>
            </div>
            <div class="product__option">
                <div class="product__buy"><a href="#" class="b-button b-button--small">В корзину</a></div>
            </div>
        </div>
        <div class="product__params">
            <div class="product__param">
                <img src="./img/catalog-param-type.svg" alt="">
                <span>Форма</span>
                <ins>Арочная</ins>
            </div>
            <div class="product__param">
                <img src="./img/catalog-param-height.svg" alt="">
                <span>Высота</span>
                <ins>2 м.</ins>
            </div>
            <div class="product__param">
                <img src="./img/catalog-param-width.svg" alt="">
                <span>Ширина</span>
                <ins>3 м.</ins>
            </div>
            <div class="product__param">
                <img src="./img/catalog-param-length.svg" alt="">
                <span>Длина</span>
                <ins>4 м./6 м./8 м./10 м. <br> <a href="#">Хочу теплицу длиннее</a></ins>
            </div>
            <div class="product__param">
                <img src="./img/catalog-param-plenka.svg" alt="">
                <span>СПК</span>
                <ins>Толщина 4 мм., плотность 0,52 кг./м2 <br> <a href="#">Хочу плотнее</a></ins>
            </div>
            <div class="product__param">
                <img src="./img/catalog-param-arch.svg" alt="">
                <span>Каркас</span>
                <ins>Оцинкованная профтруба 20*20 мм.</ins>
            </div>
            <div class="product__param">
                <img src="./img/catalog-param-archstep.svg" alt="">
                <span>Шаг дуг</span>
                <ins>1 м.</ins>
            </div>
        </div>
    </div>
</div>