<div class="b-product">
    <div class="product__gallery">
        //= ./catalog-product-gallery.html
    </div>
    <div class="product__content">
        <h1>Теплица с тентом из армированной пленки</h1>
        <p>Вместо теплицы из поликарбоната можно подобрать модель с армированной полиэтиленовой пленкой. Такая конструкция отличается мобильностью, скоростью монтажа и разборки.</p>
        <ul class="product__specs">
            <li>Ширина: 3</li>
            <li>Высота: 2</li>
            <li>Оцинкованная профтруба: 20х20</li>
            <li>Шаг между дугами: 1 метр</li>
            <li>Усиление: не требуется</li>
            <li>Покрытие: армированной пленка</li>
            <li>Гарантия: 1 год</li>
            <li>Двери: 2</li>
            <li>Форточки: 2</li>
        </ul>
        <div class="product__options">
            <div class="product__option">
                <div class="b-select">
                    <select name="" id="">
                        <option value="">2 x 2 метров</option>
                        <option value="">3 x 4 метров</option>
                        <option value="">4 x 6 метров</option>
                    </select>
                </div>
            </div>
            <div class="product__option product__option--border">
                <div class="b-inputbox b-inputbox--checkbox">
                    <input type="checkbox" name="build-checkbox" id="build-checkbox">
                    <label class="inputbox__input" for="build-checkbox"></label>
                    <label class="inputbox__label" for="build-checkbox">Сборка</label>
                </div>
            </div>
        </div>
        <div class="product__footer">
            <div class="product__oldprice">26 650 <span class="b-ruble-font">Р</span></div>
            <div class="product__price">18 000 <span class="b-ruble-font">Р</span></div>
            <div class="product__buy"><a href="#" class="b-button b-button--red">В корзину</a></div>
        </div>
    </div>
</div>