<div class="b-tabs-acc js-tabacc">
    <div class="tabs-acc__nav">
        <div class="tabs-acc__nav-item active js-tabacc-title" data-tabid="desc">Описание</div>
        <div class="tabs-acc__nav-item js-tabacc-title" data-tabid="specs">Характеристики</div>
        <div class="tabs-acc__nav-item js-tabacc-title" data-tabid="review">Отзывы</div>
    </div>
    <div class="tabs-acc__items">
        <div class="tabs-acc__item">
            <div class="tabs-acc__title active js-tabacc-title" data-tabid="desc"><span>Описание</span>
            </div>
            <div class="tabs-acc__content active show js-tabacc-content" data-tabcontent="desc">
                <h2>Купить теплицу с ПВД покрытием</h2>
                <p>Разборные полиэтиленовые теплицы в Смоленске можно заказать у нас. Главные параметры конструкций: Толщина армированного полиэтилена 200-350 мкм. Материал устойчив к низким и высоким температурам, подходит для использования при температуре от -40 до 90 °С, не расслаивается, стойкий к воздействию ультрафиолета. Высокий уровень светопропускаемости, гидро-, теплоизоляционные свойства.</p>
                <p>Прочность каркаса и трехслойного покрытия. Каркас состоит из оцинкованной квадратной трубы 20х20. У нас вы сможете купить теплицу «Феникс» с профессиональным монтажом или без. Модель характеризуется более доступной ценой по сравнению с другими вариантами. Длина конструкции на выбор: 4 или 6 м, ширина 3 м, высота 2 м.</p>
            </div>
        </div>
        <div class="tabs-acc__item">
            <div class="tabs-acc__title js-tabacc-title" data-tabid="specs"><span>Характеристики</span>
            </div>
            <div class="tabs-acc__content js-tabacc-content" data-tabcontent="specs">
                <h2>Основные параметры </h2>
                <ul class="b-specs">
                    <li><span><ins>Ширина</ins></span> Ширина</li>
                    <li><span><ins>Высота</ins></span> Высота</li>
                    <li><span><ins>Длина</ins></span> Длина</li>
                    <li><span><ins>Каркас</ins></span> Каркас</li>
                    <li><span><ins>Антикоррозионная обработка</ins></span> Антикоррозионная обработка</li>
                    <li><span><ins>Форма</ins></span> Форма</li>
                    <li><span><ins>Горизонтальных стяжек</ins></span> Горизонтальных стяжек</li>
                    <li><span><ins>Расстояние между дугами</ins></span> Расстояние между дугами</li>
                    <li><span><ins>Снеговая нагрузка</ins></span> Снеговая нагрузка</li>
                    <li><span><ins>Комплектация</ins></span> Комплектация</li>
                    <li><span><ins>Крепление к земле</ins></span> Крепление к земле</li>
                    <li><span><ins>Транспортировка</ins></span> Транспортировка</li>
                    <li><span><ins>Гарантия на каркас</ins></span> Гарантия на каркас</li>
                </ul>
            </div>
        </div>
        <div class="tabs-acc__item">
            <div class="tabs-acc__title js-tabacc-title" data-tabid="review"><span>Отзывы</span>
            </div>
            <div class="tabs-acc__content js-tabacc-content" data-tabcontent="review">
                //= review-list.html
                //= review-form.html
            </div>
        </div>
    </div>
</div>