<div class="b-news b-news--detail">
    <div class="news__inner">
        <div class="news__content news__content--center">
            <h1>Заголовок</h1>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
        </div>
    </div>
    <picture class="news__pic">
        <source srcset='./img/content-pic-big-1.webp' type='image/webp'>
        <source srcset='./img/content-pic-big-1.jpg' type='image/jpeg'>
        <img src='./img/content-pic-big-1.jpg' alt=''>
    </picture>
    <div class="news__inner">
        <div class="news__content">
            <h3>Заголовок</h3>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
        </div>
    </div>
</div>