<div class="b-contacts-map">
    <div class="contacts-map__content">
        <div class="contacts-map__items">
            <h2>Офиса продаж</h2>
            <div class="contacts-map__item">
                <span>Адрес</span><span>214031, Россия, г. Смоленск, ул. Ново-Московская, д. 2/8</span>
            </div>
            <div class="contacts-map__item">
                <span>Телефон</span><span><a href="tel:88003021602">8&nbsp;800&nbsp; 302-16-02</a>, <a href="tel:+74812631065">+7(4812)&nbsp;63-10-65</a>, <a href="tel:+74812339828">+7(4812)&nbsp;33-98-28</a></span>
            </div>
            <div class="contacts-map__item">
                <span>E-mail</span><span><a href="mailto:smol.ft@yandex.ru">smol.ft@yandex.ru</a></span>
            </div>
            <div class="contacts-map__item">
                <span>Viber, WhatsApp</span><span><a href="tel:+79036493107">+7 903-649-31-07</a></span>
            </div>
            <div class="contacts-map__item">
                <span>Режим работы</span><span>Понедельник-пятница: 9.00 - 18.00 <br>Суббота-воскресенье: 9.00 - 15.00 </span>
            </div>
        </div>
        <div class="contacts-map__items">
            <h2>Оптовый отдел</h2>
            <div class="contacts-map__item">
                <span>Телефон</span><span><a href="tel:+79056975048">+7 905-697-50-48</a></span>
            </div>
            <div class="contacts-map__item">
                <span>E-mail</span><span><a href="mailto:optsft@yandex.ru">optsft@yandex.ru</a></span>
            </div>
        </div>
    </div>
    <div class="contacts-map__map">
        <div class="contacts-map__map-block">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0327bd39753cfc143f8870fbe962f96c03aeb416a8e4ac6fa5900740a6eb9b93&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <hr>
    <div class="contacts-map__content">
        <div class="contacts-map__items">
            <h2>Склад компании</h2>
            <div class="contacts-map__item">
                <span>Адрес</span><span>Россия, Смоленский район, д. Магалинщина, ул. Дорожная, д. 11</span>
            </div>
            <div class="contacts-map__item">
                <span>Режим работы</span><span>Понедельник-пятница: 9.00 - 18.00</span>
            </div>
        </div>
        <h3>Важно!</h3>
        <p>Отгрузка производится только после подтверждения склада о готовности заказа к самовывозу и полной оплаты товара. </p>
        <p>На складе действует пропускная система, поэтому обязательно предварительно согласуйте с менеджером офиса продаж день и время забора заказа со склада.</p>
    </div>
    <div class="contacts-map__map">
        <div class="contacts-map__map-block">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A96a94f7512102040ded05bed490c0925b16bb738a90a7651dc82c6ed450ebb36&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
</div>