<div class="b-form b-form--popup">
    <h2>Форма обратной связи</h2>
    <p>Если вам необходима консультация или вы желаете обратиться к представителям компании с предложением, заполните форму, расположенную ниже. В течение 24 часов ваше сообщение будет обработано, и мы обязательно свяжемся с вами.</p>
    <form>
        <div class="form__inputs">
            <div class="form__input form__input--x3">
                <div class="b-input">
                    <input type="text" name="" id="form-input-11" required>
                    <label for="form-input-11">Контактное лицо *</label>
                </div>
            </div>
            <div class="form__input form__input--x3">
                <div class="b-input">
                    <input type="phone" name="" id="form-input-12" required>
                    <label for="form-input-12">Телефон *</label>
                </div>
            </div>
        </div>
        <div class="form__footer">
            <div class="form__agree"> Нажатием кнопки я принимаю условия <a href="#">Оферты</a> по использованию сайта и согласен с <a href="#">Политикой конфиденциальности</a>
            </div>
            <div class="form__btn">
                <button type="submit">Отправить заявку</button>
            </div>
        </div>
    </form>
</div>