<div class="b-dinastia">
    <picture class="dinastia__pic">
        <source srcset='./img/dinastia-bg.webp' type='image/webp'>
        <source srcset='./img/dinastia-bg.jpg' type='image/jpeg'>
        <img src='./img/dinastia-bg.jpg' alt=''>
    </picture>
    <div class="dinastia__content">
        <h2>Кованые изделия</h2>
        <a class="b-button b-button--white-border b-button--mw250 b-button--center" href="#">Перейти на сайт</a>
    </div>
    <div class="dinastia__logo">
        <img src="./img/dinastia-logo.svg" alt="">
    </div>
</div>