<div class="b-filter-btn">
    <span class="js-filter-show">Фильтр <img src="./img/icon-filter.svg" alt=""></span>
</div>
<div class="b-filter-fixed-bg js-filter-bg js-filter-close"></div>
<div class="b-filter-fixed js-filter-block">
    <div class="filter-fixed__title"> 
        Фильтр <span class="filter-fixed__close js-filter-close"><img src="./img/cross.svg" alt=""></span>
    </div>
    <div class="b-filter">
        <div class="filter__inner">
            <div class="filter__collapse js-collapse">
                <div class="filter__title js-collapse-title">Сортировать</div>
                <div class="filter__items js-collapse-content">
                    <div class="filter__item filter__item--radio">
                        <input type="radio" name="radio-1" id="radio-1">
                        <label class="filter__input" for="radio-1"></label>
                        <label class="filter__label" for="radio-1">По умолчанию</label>
                    </div>
                    <div class="filter__item filter__item--radio">
                        <input type="radio" name="radio-1" id="radio-2">
                        <label class="filter__input" for="radio-2"></label>
                        <label class="filter__label" for="radio-2">По уменьшению цены</label>
                    </div>
                    <div class="filter__item filter__item--radio">
                        <input type="radio" name="radio-1" id="radio-3">
                        <label class="filter__input" for="radio-3"></label>
                        <label class="filter__label" for="radio-3">По возрастанию цены</label>
                    </div>
                </div>
            </div>
            <div class="filter__collapse js-collapse">
                <div class="filter__title js-collapse-title">Цена</div>
                <div class="filter__range js-collapse-content js-range">
                    <input type="text" class="js-range-min"><span>&mdash;</span><input type="text" class="js-range-max">
                    <div class="filter__range-slider">
                        <div class="js-range-slider"></div>
                    </div>
                </div>
            </div>
            <div class="filter__collapse js-collapse">
                <div class="filter__title js-collapse-title">Ширина теплицы</div>
                <div class="filter__items js-collapse-content">
                    <div class="filter__item filter__item--checkbox">
                        <input type="checkbox" name="checkbox-1" id="checkbox-1">
                        <label class="filter__input" for="checkbox-1"></label>
                        <label class="filter__label" for="checkbox-1">4,0 метра</label>
                    </div>
                    <div class="filter__item filter__item--checkbox">
                        <input type="checkbox" name="checkbox-2" id="checkbox-2">
                        <label class="filter__input" for="checkbox-2"></label>
                        <label class="filter__label" for="checkbox-2">3 метра</label>
                    </div>
                    <div class="filter__item filter__item--checkbox">
                        <input type="checkbox" name="checkbox-3" id="checkbox-3">
                        <label class="filter__input" for="checkbox-3"></label>
                        <label class="filter__label" for="checkbox-3">3 метра</label>
                    </div>
                </div>
            </div>
            <div class="filter__collapse js-collapse">
                <div class="filter__title js-collapse-title">Шаг между дугами</div>
                <div class="filter__items js-collapse-content">
                    <div class="filter__item filter__item--checkbox">
                        <input type="checkbox" name="checkbox-4" id="checkbox-4">
                        <label class="filter__input" for="checkbox-4"></label>
                        <label class="filter__label" for="checkbox-4">1 метр</label>
                    </div>
                    <div class="filter__item filter__item--checkbox">
                        <input type="checkbox" name="checkbox-5" id="checkbox-5">
                        <label class="filter__input" for="checkbox-5"></label>
                        <label class="filter__label" for="checkbox-5">65 см</label>
                    </div>
                    <div class="filter__item filter__item--checkbox">
                        <input type="checkbox" name="checkbox-6" id="checkbox-6">
                        <label class="filter__input" for="checkbox-6"></label>
                        <label class="filter__label" for="checkbox-6">3 метра</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter__btns">
            <div class="filter__reset">
                <span>Очистить всё <img src="./img/spin.svg" alt=""></span>
            </div>
            <div class="filter__submit">
                <span>Применить</span>
            </div>
        </div>
    </div>
</div>