<div class="b-menu js-menu">
    <ul class="menu__level-1">
        <li class="menu__item-1 menu__item-1--haschild">
            <span class="js-menu-open">
                <span>Каталог продукции</span><ins></ins>
            </span>
            <div class="menu__level-wrap js-menutop-wrap">
                <ul class="menu__level-2 js-menutop-parent">
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Теплицы</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                        </ul>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Аксессуары для теплиц</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                        </ul>
                    </li>
                    <li class="menu__item-2">
                        <span><a href="#">Системы полива</a> <ins></ins></span>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Грядки</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                        </ul>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Сварные беседки</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                        </ul>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">Товары для сада</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                        </ul>
                    </li>
                    <li class="menu__item-2 menu__item-2--haschild js-menutop-haschild">
                        <span><a href="#">О компании</a> <ins></ins></span>
                        <ul class="menu__level-3 js-menutop-child">
                            <li class="menu__item-3"><span><a href="#">Партнерам </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Реквизиты</a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название подкатегории </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Название </a></span></li>
                            <li class="menu__item-3"><span><a href="#">Подкатегория </a></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

