<div class="b-messangers">
    <div class="messangers__title">Задайте вопросы любым удобным способом </div>
    <p>Просто нажмите на значек</p>
    <div class="messangers__links">
        <a href="#">
            <picture>
                <source srcset='./img/messangers-pic-1.webp' type='image/webp'>
                <source srcset='./img/messangers-pic-1.png' type='image/png'>
                <img src='./img/messangers-pic-1.png' alt=''>
            </picture>
        </a>
        <a href="#">
            <picture>
                <source srcset='./img/messangers-pic-2.webp' type='image/webp'>
                <source srcset='./img/messangers-pic-2.png' type='image/png'>
                <img src='./img/messangers-pic-2.png' alt=''>
            </picture>
        </a>
        <a href="#">
            <picture>
                <source srcset='./img/messangers-pic-3.webp' type='image/webp'>
                <source srcset='./img/messangers-pic-3.png' type='image/png'>
                <img src='./img/messangers-pic-3.png' alt=''>
            </picture>
        </a>
    </div>
</div>