<div class="b-news-main">
    <div class="news-main__col news-main__col--big">
        <div class="news-main__header">
            <h2>Акции</h2>
            <a href="#">Все акции <img src="./img/icon-arr-left.svg" alt=""></a>
        </div>
        <div class="b-news b-news--main">
            <div class="news__item">
                <a href="#">
                    <picture class="news__pic">
                        <source srcset='./img/news-pic-1.webp' type='image/webp'>
                        <source srcset='./img/news-pic-1.jpg' type='image/jpeg'>
                        <img src='./img/news-pic-1.jpg' alt=''>
                    </picture>
                </a>
                <div class="news__date">16.03.2021</div>
                <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
                <p>Теперь Вы можете приобрести теплицы всего за 30 % стоимости на условиях рассрочки!</p>
            </div>
            <div class="news__item">
                <a href="#">
                    <picture class="news__pic">
                        <source srcset='./img/news-pic-2.webp' type='image/webp'>
                        <source srcset='./img/news-pic-2.jpg' type='image/jpeg'>
                        <img src='./img/news-pic-2.jpg' alt=''>
                    </picture>
                </a>
                <div class="news__date">16.03.2021</div>
                <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
                <p>Выращивать зелень и овощи на одном уровне с общими дорожками и газоном нельзя. Это ведет к риску повреждения хрупких культур, а также мешает стабильному росту ...</p>
            </div>
        </div>
    </div>
    <div class="news-main__col">
        <div class="news-main__header">
            <h2>Новости</h2>
            <a href="#">Все новости <img src="./img/icon-arr-left.svg" alt=""></a>
        </div>
        <div class="b-news b-news--full">
            <div class="news__item">
                <div class="news__date">16.03.2021</div>
                <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
                <p>Защитить теплолюбивые растения от порывистого ветра, непогоды, резких похолоданий садоводам средней полосы помогают специальные парники. </p>
            </div>
            <div class="news__item">
                <div class="news__date">16.03.2021</div>
                <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
                <p>Защитить теплолюбивые растения от порывистого ветра, непогоды, резких похолоданий садоводам средней полосы помогают специальные парники. </p>
            </div>
        </div>
    </div>
</div>