<div class="b-news b-news--detail">
    <div class="news__inner">
        <div class="news__content news__content--center">
            <div class="news__date">16.03.2021</div>
            <h1>Забронируйте теплицу по цене 2021 года</h1>
            <p>2021 год подходит к концу! Не упустите возможность воспользоваться выгодным предложением от «Смоленской Фабрики Теплиц». Забронируйте теплицу по цене 2021 года!</p>
        </div>
    </div>
    <picture class="news__pic">
        <source srcset='./img/news-pic-big.webp' type='image/webp'>
        <source srcset='./img/news-pic-big.jpg' type='image/jpeg'>
        <img src='./img/news-pic-big.jpg' alt=''>
    </picture>
    <div class="news__inner">
        <div class="news__content">
            <p>Напоминаем о том, что у нас стартовала акция по хранению купленной у нас теплицы до весны! Вы можете приобрести понравившуюся модель по фиксированной зимней цене, а мы совершенно бесплатно оставить ее на нашем складе до весны (при условии 100% оплаты). Крайний срок хранения теплицы до 31 мая 2022 г.</p>
            <h3>Внимание</h3>
            <p>Количество мест для хранения на складе ограничено! За подробностями обращайтесь к нашим менеджерам по телефону 8 800 302 16 02 (звонок бесплатный) или приходите в офис продаж, расположенном по ул. Ново-Московская, д. 2/8 (возле ТЦ Галактика). Ждем Вас!</p>
        </div>
        <div class="news__nav">
            <a href="#"><span>Предыдущая акция</span></a>
            <a href="#"><span>Следующая акция</span></a>
        </div>
    </div>
</div>