<div class="b-news b-news--list">
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-1.webp' type='image/webp'>
                <source srcset='./img/news-pic-1.jpg' type='image/jpeg'>
                <img src='./img/news-pic-1.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Теперь Вы можете приобрести теплицы всего за 30 % стоимости на условиях рассрочки!</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-2.webp' type='image/webp'>
                <source srcset='./img/news-pic-2.jpg' type='image/jpeg'>
                <img src='./img/news-pic-2.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Выращивать зелень и овощи на одном уровне с общими дорожками и газоном нельзя. Это ведет к риску повреждения хрупких культур, а также мешает стабильному росту ...</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-3.webp' type='image/webp'>
                <source srcset='./img/news-pic-3.jpg' type='image/jpeg'>
                <img src='./img/news-pic-3.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Теперь Вы можете приобрести теплицы всего за 30 % стоимости на условиях рассрочки!</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-4.webp' type='image/webp'>
                <source srcset='./img/news-pic-4.jpg' type='image/jpeg'>
                <img src='./img/news-pic-4.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Выращивать зелень и овощи на одном уровне с общими дорожками и газоном нельзя. Это ведет к риску повреждения хрупких культур, а также мешает стабильному росту ...</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-5.webp' type='image/webp'>
                <source srcset='./img/news-pic-5.jpg' type='image/jpeg'>
                <img src='./img/news-pic-5.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Теперь Вы можете приобрести теплицы всего за 30 % стоимости на условиях рассрочки!</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-6.webp' type='image/webp'>
                <source srcset='./img/news-pic-6.jpg' type='image/jpeg'>
                <img src='./img/news-pic-6.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Выращивать зелень и овощи на одном уровне с общими дорожками и газоном нельзя. Это ведет к риску повреждения хрупких культур, а также мешает стабильному росту ...</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-7.webp' type='image/webp'>
                <source srcset='./img/news-pic-7.jpg' type='image/jpeg'>
                <img src='./img/news-pic-7.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Теперь Вы можете приобрести теплицы всего за 30 % стоимости на условиях рассрочки!</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-8.webp' type='image/webp'>
                <source srcset='./img/news-pic-8.jpg' type='image/jpeg'>
                <img src='./img/news-pic-8.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Выращивать зелень и овощи на одном уровне с общими дорожками и газоном нельзя. Это ведет к риску повреждения хрупких культур, а также мешает стабильному росту ...</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-9.webp' type='image/webp'>
                <source srcset='./img/news-pic-9.jpg' type='image/jpeg'>
                <img src='./img/news-pic-9.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Теперь Вы можете приобрести теплицы всего за 30 % стоимости на условиях рассрочки!</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-10.webp' type='image/webp'>
                <source srcset='./img/news-pic-10.jpg' type='image/jpeg'>
                <img src='./img/news-pic-10.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Выращивать зелень и овощи на одном уровне с общими дорожками и газоном нельзя. Это ведет к риску повреждения хрупких культур, а также мешает стабильному росту ...</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-9.webp' type='image/webp'>
                <source srcset='./img/news-pic-9.jpg' type='image/jpeg'>
                <img src='./img/news-pic-9.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Теперь Вы можете приобрести теплицы всего за 30 % стоимости на условиях рассрочки!</p>
    </div>
    <div class="news__item">
        <a href="#">
            <picture class="news__pic">
                <source srcset='./img/news-pic-10.webp' type='image/webp'>
                <source srcset='./img/news-pic-10.jpg' type='image/jpeg'>
                <img src='./img/news-pic-10.jpg' alt=''>
            </picture>
        </a>
        <div class="news__badge">Действует до 12.20.21</div>
        <a href="#" class="news__title">Рассрочка на теплицы сроком до 6 месяцев!</a>
        <p>Выращивать зелень и овощи на одном уровне с общими дорожками и газоном нельзя. Это ведет к риску повреждения хрупких культур, а также мешает стабильному росту ...</p>
    </div>
</div>