<div class="b-form b-form--review">
    <form>
        <div class="form__cols">
            <div class="form__col">
                <div class="form__item">
                    <div class="form__inputs">
                        <div class="form__input">
                            <div class="b-input">
                                <input type="text" name="" id="form-input-1" required>
                                <label for="form-input-1">Фио *</label>
                            </div>
                        </div>
                        <div class="form__input">
                            <div class="b-input">
                                <input type="email" name="" id="form-input-3" required>
                                <label for="form-input-3">E-mail *</label>
                            </div>
                        </div>
                        <div class="form__input">
                            <div class="b-input">
                                <input type="text" name="" id="form-input-4" required>
                                <label for="form-input-4">Почтовый индекс *</label>
                            </div>
                        </div>
                        <div class="form__input form__input--ib">
                            <div class="b-inputbox b-inputbox--checkbox">
                                <input type="radio" name="gendr" id="men-1">
                                <label class="inputbox__input" for="men-1"></label>
                                <label class="inputbox__label" for="men-1">Мужчина</label>
                            </div>
                            <div class="b-inputbox b-inputbox--checkbox">
                                <input type="radio" name="gendr" id="fem-1">
                                <label class="inputbox__input" for="fem-1"></label>
                                <label class="inputbox__label" for="fem-1">Женщина</label>
                            </div>
                        </div>
                        <div class="form__input form__input--x3">
                            <div class="b-input">
                                <textarea name="" id="form-textarea-1" required></textarea>
                                <label for="form-textarea-1">Ваш отзыв *</label>
                            </div>
                        </div>
                        <div class="form__input">
                            <div class="b-input">
                                <textarea name="" id="form-textarea-1" required></textarea>
                                <label for="form-textarea-1">Положительные моменты *</label>
                            </div>
                        </div>
                        <div class="form__input">
                            <div class="b-input">
                                <textarea name="" id="form-textarea-1" required></textarea>
                                <label for="form-textarea-1">Отрицательные моменты *</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__col form__col--stars">
                <h3>Как вы оцениваете товар?</h3>
                <div class="form__item">
                    <div class="form__input">
                        <div class="form__input-title">Общая оценка *</div>
                        <div class="b-rating">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" />
                                <label class="full" for="star5" title=""></label>
                                <input type="radio" id="star4" name="rating" value="4" />
                                <label class="full" for="star4" title=""></label>
                                <input type="radio" id="star3" name="rating" value="3" />
                                <label class="full" for="star3" title=""></label>
                                <input type="radio" id="star2" name="rating" value="2" />
                                <label class="full" for="star2" title=""></label>
                                <input type="radio" id="star1" name="rating" value="1" />
                                <label class="full" for="star1" title=""></label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form__input">
                        <div class="form__input-title">Цена *</div>
                        <div class="b-rating">
                            <fieldset class="rating">
                                <input type="radio" id="star2-5" name="rating-2" value="5" />
                                <label class="full" for="star2-5" title=""></label>
                                <input type="radio" id="star2-4" name="rating-2" value="4" />
                                <label class="full" for="star2-4" title=""></label>
                                <input type="radio" id="star2-3" name="rating-2" value="3" />
                                <label class="full" for="star2-3" title=""></label>
                                <input type="radio" id="star2-2" name="rating-2" value="2" />
                                <label class="full" for="star2-2" title=""></label>
                                <input type="radio" id="star2-1" name="rating-2" value="1" />
                                <label class="full" for="star2-1" title=""></label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form__input">
                        <div class="form__input-title">Качество *</div>
                        <div class="b-rating">
                            <fieldset class="rating">
                                <input type="radio" id="star3-5" name="rating-3" value="5" />
                                <label class="full" for="star3-5" title=""></label>
                                <input type="radio" id="star3-4" name="rating-3" value="4" />
                                <label class="full" for="star3-4" title=""></label>
                                <input type="radio" id="star3-3" name="rating-3" value="3" />
                                <label class="full" for="star3-3" title=""></label>
                                <input type="radio" id="star3-2" name="rating-3" value="2" />
                                <label class="full" for="star3-2" title=""></label>
                                <input type="radio" id="star3-1" name="rating-3" value="1" />
                                <label class="full" for="star3-1" title=""></label>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__col">
                <div class="form__footer">
                    <div class="form__photos">
                        <div class="form__photos-title">Добавьте фотографии</div>
                        <div class="form__photos-hint">Максимум 5 фотографий</div>
                        <div class="form__fileupload">
                            <label class="form__fileupload-remove js-file-remove"></label>
                            <input id="fileupload" type='file' onchange="readURL(this);" />
                            <label class="form__fileupload-load js-file-load" for="fileupload"></label>
                            <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                        </div>
                        <div class="form__fileupload">
                            <label class="form__fileupload-remove js-file-remove"></label>
                            <input id="fileupload-2" type='file' onchange="readURL(this);" />
                            <label class="form__fileupload-load js-file-load" for="fileupload-2"></label>
                            <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                        </div>
                        <div class="form__fileupload">
                            <label class="form__fileupload-remove js-file-remove"></label>
                            <input id="fileupload-3" type='file' onchange="readURL(this);" />
                            <label class="form__fileupload-load js-file-load" for="fileupload-3"></label>
                            <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                        </div>
                        <div class="form__fileupload">
                            <label class="form__fileupload-remove js-file-remove"></label>
                            <input id="fileupload-4" type='file' onchange="readURL(this);" />
                            <label class="form__fileupload-load js-file-load" for="fileupload-4"></label>
                            <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                        </div>
                        <div class="form__fileupload">
                            <label class="form__fileupload-remove js-file-remove"></label>
                            <input id="fileupload-5" type='file' onchange="readURL(this);" />
                            <label class="form__fileupload-load js-file-load" for="fileupload-5"></label>
                            <img class="form__fileupload-image js-file-image" src="./img/empty.png" alt="Загруженная картинка" />
                        </div>
                    </div>
                    <div class="form__btn">
                        <button type="submit">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>