<nav class="sidebar__menu">
    <ul class="sidebar__menu-level-1 js-menu-main">
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Теплицы</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Теплицы</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Аксессуары для теплиц</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Аксессуары для теплиц</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Грядки</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Грядки</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Сварные беседки</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Сварные беседки</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Товары для сада</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Товары для сада</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Покупателям</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-spacer"><span><a href="#">Покупателям</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
    </ul>
    <ul class="sidebar__menu-level-1 sidebar__menu-level-1--gray">
        <li class="sidebar__menu-item-1 js-menu-collapse">
            <span><a href="#">О компании</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-collapse-item">
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Lorem, ipsum.</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1"><span><a href="#">Покупателям</a></span></li>
        <li class="sidebar__menu-item-1"><span><a href="#">Акции</a></span></li>
        <li class="sidebar__menu-item-1"><span><a href="#">Контакты</a></span></li>
    </ul>
</nav>