<div class="b-video">
    <div class="video__content">
        <h2>Теплицы из поликарбоната</h2>
        <p>В компании «Смоленская Фабрика Теплиц» вы можете недорого купить теплицу из поликарбоната с установкой в Смоленске. Конструкции надежно защищены от коррозии, способны выдержать большую снеговую нагрузку — они полностью оправдают вложенные средства годами безупречной службы и обильным урожаем.</p>
    </div>
    <div class="video__pic">
        <a href="#">
            <img src="./img/icon-play.svg" alt="" class="video__play">
            <picture>
                <source srcset='./img/video-pic.webp' type='image/webp'>
                <source srcset='./img/video-pic.png' type='image/png'>
                <img src='./img/video-pic.png' alt=''>
            </picture>
        </a>
    </div>
</div>