@import "./libs/nouislider.scss";
@import "./libs/swiper.scss";

@import "./part/_var.scss";
@import "./part/_reset.scss";
@import "./part/_fonts.scss";

@import "./part/app.scss";
@import "./part/layout.scss";

@import "./part/header.scss";
@import "./part/footer.scss";
@import "./part/breadcrums.scss";
@import "./part/minifilter.scss";
@import "./part/catalog.scss";
@import "./part/catalog-list.scss";
@import "./part/catalog-product.scss";
@import "./part/catalog-product-gallery.scss";
@import "./part/tabs.scss";
@import "./part/review-list.scss";
@import "./part/filter.scss";
@import "./part/pagination.scss";
@import "./part/callback-banner.scss";
@import "./part/video-banner.scss";
@import "./part/cart-items.scss";
@import "./part/form.scss";