/*----------*/
.b-head-line {
    margin: 0 -3000px;
    padding: 0 3000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-gray;
}
/*----------*/
.b-head-menu {
    a {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 3rem;
        display: inline-block;
        text-decoration: none;
        font-size: 1.5rem;
        color: $color-font;
        transition: color 0.2s ease-in-out;

        &:first-child {
            padding-left: 0;
        }
    }
    a:hover {
        text-decoration: none;
        color: $color-green;
    }
}
/*----------*/
.b-icons-social {
    img {
        opacity: 1;
        background-color: $color-gray;
        border-radius: 100rem;
        transition: opacity 0.2s ease-in-out;
    }
    a {
        margin-right: 1.5rem;
        display: inline-block;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }
    a:hover {
        text-decoration: none;

        img {
            opacity: 0.75;
        }
    }

    &--white {
        img {
            background-color: $color-white;
        }
    }
}
/*----------*/
.b-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 10rem;

    @media (min-width: $breakpoint-tablet) {
        min-height: 11rem;
    }
    @media (min-width: $breakpoint-desktop) {
        min-height: 15rem;
    }

    .head__contacts {
        position: relative;
        
        @media (min-width: $breakpoint-tablet) {
            padding-left: 6rem;
        }

        a[href^="tel:"] {
            font-size: 2.5rem;
            font-family: $font-family-slab;
            font-weight: bold;
            color: $color-font;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            img {
                display: inline-block;
                vertical-align: middle;
                border-radius: 100rem;
                background-color: $color-gray;

                @media (min-width: $breakpoint-tablet) {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                display: none;

                @media (min-width: $breakpoint-tablet) {
                    display: block;
                }
            }
        }
        a[href^="tel:"]:hover {
            text-decoration: none;
            color: $color-green;
        }
        a[href^="mailto:"] {
            display: none;
            text-decoration: none;
            font-size: 1.4rem;
            border-bottom: 1px solid transparent;
            color: $color-green;
            transition: border-bottom-color 0.2s ease-in-out;

            @media (min-width: $breakpoint-tablet) {
                display: inline-block;
            }
        }
        a[href^="mailto:"]:hover {
            border-bottom-color: $color-green;
            text-decoration: none;
        }
    }
    .head__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 11rem;

            @media (min-width: $breakpoint-desktop) {
                max-width: none;
            }
        }
    }
    .head__cart {
        img {
            border-radius: 100rem;
            background-color: $color-red;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

            @media (min-width: $breakpoint-tablet) {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
               
            }
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            
            @media (min-width: $breakpoint-tablet) {
                padding-left: 6rem;
            }
        }
        a:hover {
            text-decoration: none;

            img {
                opacity: 0.75;
            }
        }
        .head-cart__title {
            display: none;
            font-family: $font-family-slab;
            font-weight: bold;
            font-size: 2.5rem;
            color: $color-font;

            @media (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
        .head-cart__count {
            display: none;
            font-size: 1.4rem;
            color: $color-font-gray;

            @media (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
    }
}
/*----------*/
.b-menusearch-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/*----------*/
.b-menu {
    margin-right: 1rem;
    width: 4.2rem;
    flex: none;

    @media (min-width: $breakpoint-tablet) {
        margin-right: 2rem;
        width: 11rem;
    }
    @media (min-width: $breakpoint-desktop) {
        width: 26rem;
    }

    ins {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        width: 20px;
        border-radius: 100rem;
        background-color: $color-white;
        
        @media (min-width: $breakpoint-tablet) {
            margin-top: 0;
            margin-bottom: 0;
            margin-top: -1px;
            position: absolute;
            right: 1.5rem;
            top: 50%;
        }
        @media (min-width: $breakpoint-desktop) {
            right: 2rem;
        }

        &::before,
        &::after {
            content: '';
            border-radius: 100rem;
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-white;
            transform-origin: center center;
            transform: rotate(0deg);
            transition-property: transform, bottom, top, background-color;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }

        &::before {
            bottom: calc(100% + 4px);
        }
        &::after {
            top: calc(100% + 4px);
        }
    }
    a {
        padding: 0.9rem 0;
        position: relative;
        width: 100%;
        display: block;
        background-color: $color-green;
        border-radius: 0.5rem;
        opacity: 1;
        text-decoration: none;  
        text-transform: uppercase;
        color: $color-white;
        transition: opacity 0.3s ease-in-out;
        text-align: center;

        @media (min-width: $breakpoint-tablet) {
            padding: 0.9rem 1rem;
            text-align: left;
        }
        @media (min-width: $breakpoint-desktop) {
            padding: 0.9rem 2rem;
        }

        &::before {
            @media (min-width: $breakpoint-tablet) {
                content: 'Меню';
                display: block;
            }
            @media (min-width: $breakpoint-desktop) {
                display: none;
            }
        }

        span {
            display: none;

            @media (min-width: $breakpoint-desktop) {
                display: block;
            }
        }
    }
    a:hover {
        text-decoration: none;
        opacity: 0.75;
    }
    a:focus {
        ins {
            background-color: transparent;
    
            &::before {
                bottom: 0;
                transform: rotate(225deg);
            }
            &::after {
                top: 0;
                transform: rotate(-225deg);
            }
        }
    }
}
/*----------*/
.b-search {
    position: relative;
    flex: 1 auto;

    input {
        border: 2px solid $color-green;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        margin: 0;
        background: $color-white;
        font-size: 1.6rem;
        -webkit-appearance: none;
        width: 100%;
        transition: border-color 0.2s ease-in-out;

        &:focus {
            border-color: $color-gray;
        }

        ::-webkit-input-placeholder {
            color: $color-gray;
        }
        :-moz-placeholder {
            color: $color-gray;
            opacity: 1;
        }
        ::-moz-placeholder {
            color: $color-gray;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: $color-gray;
        }
    }
    button {
        margin: 0;
        padding: 0;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 4.5rem;
        background: none;
        -webkit-appearance: none;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}
/*----------*/
