/*----------*/
.b-head-line {
    margin: 0 -300rem 1.5rem;
    padding: 1rem 300rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-gray;
}
/*----------*/
.b-head-menu {
    display: flex;
    flex-flow: row wrap;

    .head-menu__item {
        border-left: 2px solid $color-green;

        &:first-child {
            border-left: 0;

            a {
                padding-left: 0;
            }
        }

        a {
            padding: 0.4rem 2.4rem;
            display: inline-block;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.5rem;

            text-transform: uppercase;
            color: $color-black;
            transition: color 0.2s ease-in-out;
        }

        a:hover {
            text-decoration: none;
            color: $color-green;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a:link,
    a:visited {
        display: block;
    }
    .head-menu__submenu {
        position: relative;
    }
    .head-menu__submenu-item-1 {
        display: block;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1.5rem;
        }
    }
    .head-menu__submenu-item-1 span {
        margin-right: 0.5rem;
        display: block;
        position: relative;
    }
    .head-menu__submenu-item-1 > span {
        padding: 0.4rem 2.4rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;
        cursor: pointer;

        ins {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: 20px;
            border-radius: 100rem;
            background: url('../img/icon-chevron.svg') 50% 50% no-repeat;
            transform: rotate(-180deg);
            transition-property: background, transform;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
        }
    }
    .head-menu__submenu-item-1:hover > span,
    .head-menu__submenu-item-1--on > span {
        text-decoration: none;
        opacity: 0.75;
    }
    @media (min-width: $breakpoint-desktop) {
        .head-menu__submenu-item-1:hover > span {
            ins {
                background: url('../img/icon-chevron-green.svg') 50% 50% no-repeat;
                transform: rotate(0deg);
            }
        }
    }
    .head-menu__submenu-level-wrap {
        position: absolute;
        left: 2.4rem;
        top: calc(100% + 15px);
        overflow: auto;
        display: none;
        background-color: $color-white;
        border-radius: 0.5rem;
        width: 100%;
        max-height: calc(100vh - 10rem - 6.3rem - 1rem);

        @media (min-width: $breakpoint-tablet) {
            width: 26rem;
            overflow: hidden;
            max-height: none;
        }
    }
    .full {
        width: 100%;

        @media (min-width: $breakpoint-tablet) {
            width: calc(26rem + 26rem);
        }
    }
    .head-menu__submenu-item-1--haschild .head-menu__submenu-level-wrap {
        -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    }
    @media (min-width: $breakpoint-desktop) {
        .head-menu__submenu-item-1:hover .head-menu__submenu-level-wrap {
            display: block;
        }
    }
    .head-menu__submenu-level-2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: block;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        z-index: 35;
        background-color: $color-white;
        width: 100%;
        text-align: left;
        height: 100%;

        @media (min-width: $breakpoint-tablet) {
            width: 26rem;
        }
    }
    .head-menu__submenu-item-1:hover .head-menu__submenu-level-2 {
        display: block;
    }
    .head-menu__submenu-item-2:first-child {
        border-top: 0;
    }
    .head-menu__submenu-item-2 > span {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        ins {
            width: 4rem;
            height: 4rem;
            flex: none;
            display: none;
            background: url('../img/menu-chevron.svg') 50% 50% no-repeat;
            transform: rotate(90deg);

            @media (min-width: $breakpoint-tablet) {
                transform: rotate(0deg);
            }
        }
    }
    .head-menu__submenu-item-2:hover > span {
        ins {
            background: url('../img/menu-chevron-green.svg') 50% 50% no-repeat;
        }
    }
    .head-menu__submenu-item-2 > span a:link,
    .head-menu__submenu-item-2 > span a:visited {
        display: block;
        padding: 0.7rem 2.5rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: $color-font;
        flex: 1 auto;
        background: $color-white;
    }
    .head-menu__submenu-item-2:hover > span a:link,
    .head-menu__submenu-item-2:hover > span a:visited,
    .head-menu__submenu-item-2--on > span a:link,
    .head-menu__submenu-item-2--on > span a:visited,
    .head-menu__submenu-item-2--on > span a:hover,
    .head-menu__submenu-item-2--on > span a:active {
        text-decoration: none;
        color: $color-green;
        background: $color-white;
    }
    .head-menu__submenu-item-2--haschild > span {
        ins {
            display: block;
        }
    }
    // --
    .head-menu__submenu-level-3 {
        padding: 1rem 0;
        display: none;
        z-index: 35;
        width: 26rem;
        background-color: $color-white;

        @media (min-width: $breakpoint-tablet) {
            position: absolute;
            top: 0;
            left: 100%;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        .head-menu__submenu-level-3:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: 999px;
            width: 26rem;
            background-color: $color-white;
        }
    }
    .head-menu__submenu-item-2:hover .head-menu__submenu-level-3 {
        display: block;
    }
    .head-menu__submenu-item-3 > span a:link,
    .head-menu__submenu-item-3 > span a:visited {
        padding: 0.8rem 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: $color-font;
        display: block;
        background: $color-white;
    }
    .head-menu__submenu-item-3:hover > span a:link,
    .head-menu__submenu-item-3:hover > span a:visited,
    .head-menu__submenu-item-3--on > span a:link,
    .head-menu__submenu-item-3--on > span a:visited,
    .head-menu__submenu-item-3--on > span a:hover,
    .head-menu__submenu-item-3--on > span a:active {
        text-decoration: none;
        color: $color-green;
        display: block;
        background: $color-white;
    }

    // --
    &.active .head-menu__submenu-item-1 > span {
        ins {
            background-color: transparent;

            &::before {
                bottom: 0;
                transform: rotate(225deg);
            }
            &::after {
                top: 0;
                transform: rotate(-225deg);
            }
        }
    }
    &.active .head-menu__submenu-item-1 .head-menu__submenu-level-wrap {
        display: block;
    }
}
/*----------*/
.b-icons-social {
    font-size: 0;

    img {
        opacity: 1;
        background-color: $color-gray;
        border-radius: 100rem;
        transition: opacity 0.2s ease-in-out;
    }
    a {
        margin-right: 1.5rem;
        display: inline-block;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }
    a:hover {
        text-decoration: none;

        img {
            opacity: 0.75;
        }
    }

    &--white {
        img {
            background-color: $color-white;
        }
    }
}
/*----------*/
.b-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 10rem;

    @media (min-width: $breakpoint-tablet) {
        min-height: 11rem;
    }
    @media (min-width: $breakpoint-desktop) {
        min-height: 16.5rem;
    }

    .head__contacts {
        position: relative;

        @media (min-width: $breakpoint-tablet) {
            padding-left: 6rem;
        }

        a[href^='tel:'] {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 1;
            color: $color-font;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            img {
                display: inline-block;
                vertical-align: middle;
                border-radius: 100rem;
                background-color: $color-gray;

                @media (min-width: $breakpoint-tablet) {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                display: none;

                @media (min-width: $breakpoint-tablet) {
                    display: block;
                }
            }
        }
        a[href^='tel:']:hover {
            text-decoration: none;
            color: $color-green;
        }
        a[href^='mailto:'] {
            display: none;
            text-decoration: none;
            font-size: 1.4rem;
            border-bottom: 1px solid transparent;
            color: $color-green;
            transition: border-bottom-color 0.2s ease-in-out;

            @media (min-width: $breakpoint-tablet) {
                display: inline-block;
            }
        }
        a[href^='mailto:']:hover {
            border-bottom-color: $color-green;
            text-decoration: none;
        }
    }
    .head__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        picture {
            display: block;
            max-width: 11rem;

            @media (min-width: $breakpoint-desktop) {
                max-width: 24rem;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
            }
        }
    }
    .head__cart {
        img {
            border-radius: 100rem;
            background-color: $color-red;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

            @media (min-width: $breakpoint-tablet) {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;

            @media (min-width: $breakpoint-tablet) {
                padding-left: 6rem;
            }
        }
        a:hover {
            text-decoration: none;

            img {
                opacity: 0.75;
            }
        }
        .head-cart__title {
            display: none;
            font-family: $font-family;
            font-weight: bold;
            font-size: 2.5rem;
            color: $color-font;

            @media (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
        .head-cart__count {
            display: none;
            font-size: 1.4rem;
            color: $color-font-gray;

            @media (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
    }

    &--mini {
        .head__contacts {
            position: relative;

            a[href^='tel:'] {
                span {
                    display: none;
                }
            }
            a[href^='mailto:'] {
                display: none;
            }
        }
        .head__cart {
            .head-cart__title {
                display: none;
            }
            .head-cart__count {
                display: none;
            }
        }
    }
}
/*----------*/
.b-menusearch-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/*----------*/
.b-search {
    position: relative;
    flex: 1 auto;

    input {
        border: 2px solid $color-green;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        margin: 0;
        background: $color-white;
        font-size: 1.6rem;
        -webkit-appearance: none;
        width: 100%;
        transition: border-color 0.2s ease-in-out;

        &:focus {
            border-color: $color-gray;
        }

        ::-webkit-input-placeholder {
            color: $color-gray;
        }
        :-moz-placeholder {
            color: $color-gray;
            opacity: 1;
        }
        ::-moz-placeholder {
            color: $color-gray;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: $color-gray;
        }
    }
    button {
        margin: 0;
        padding: 0;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 4.5rem;
        background: none;
        -webkit-appearance: none;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}
/*----------*/
