/*----------*/
.b-head-line {
    margin: 0 -300rem 1.5rem;
    padding: 1rem 300rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-gray;
}
/*----------*/
.b-head-menu {
    a {
        padding: 0.4rem 2.4rem;
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
        border-left: 2px solid $color-green;
        text-transform: uppercase;
        color: $color-black;
        transition: color 0.2s ease-in-out;

        &:first-child {
            border-left: 0;
            padding-left: 0;
        }
    }
    a:hover {
        text-decoration: none;
        color: $color-green;
    }
}
/*----------*/
.b-icons-social {
    font-size: 0;

    img {
        opacity: 1;
        background-color: $color-gray;
        border-radius: 100rem;
        transition: opacity 0.2s ease-in-out;
    }
    a {
        margin-right: 1.5rem;
        display: inline-block;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }
    a:hover {
        text-decoration: none;

        img {
            opacity: 0.75;
        }
    }

    &--white {
        img {
            background-color: $color-white;
        }
    }
}
/*----------*/
.b-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 10rem;

    @media (min-width: $breakpoint-tablet) {
        min-height: 11rem;
    }
    @media (min-width: $breakpoint-desktop) {
        min-height: 16.5rem;
    }

    .head__contacts {
        position: relative;

        @media (min-width: $breakpoint-tablet) {
            padding-left: 6rem;
        }

        a[href^='tel:'] {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 1;
            color: $color-font;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            img {
                display: inline-block;
                vertical-align: middle;
                border-radius: 100rem;
                background-color: $color-gray;

                @media (min-width: $breakpoint-tablet) {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            span {
                display: none;

                @media (min-width: $breakpoint-tablet) {
                    display: block;
                }
            }
        }
        a[href^='tel:']:hover {
            text-decoration: none;
            color: $color-green;
        }
        a[href^='mailto:'] {
            display: none;
            text-decoration: none;
            font-size: 1.4rem;
            border-bottom: 1px solid transparent;
            color: $color-green;
            transition: border-bottom-color 0.2s ease-in-out;

            @media (min-width: $breakpoint-tablet) {
                display: inline-block;
            }
        }
        a[href^='mailto:']:hover {
            border-bottom-color: $color-green;
            text-decoration: none;
        }
    }
    .head__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        picture {
            display: block;
            max-width: 11rem;

            @media (min-width: $breakpoint-desktop) {
                max-width: 24rem;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
            }
        }
    }
    .head__cart {
        img {
            border-radius: 100rem;
            background-color: $color-red;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

            @media (min-width: $breakpoint-tablet) {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;

            @media (min-width: $breakpoint-tablet) {
                padding-left: 6rem;
            }
        }
        a:hover {
            text-decoration: none;

            img {
                opacity: 0.75;
            }
        }
        .head-cart__title {
            display: none;
            font-family: $font-family;
            font-weight: bold;
            font-size: 2.5rem;
            color: $color-font;

            @media (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
        .head-cart__count {
            display: none;
            font-size: 1.4rem;
            color: $color-font-gray;

            @media (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
    }
}
/*----------*/
.b-menusearch-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/*----------*/
.b-search {
    position: relative;
    flex: 1 auto;

    input {
        border: 2px solid $color-green;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        margin: 0;
        background: $color-white;
        font-size: 1.6rem;
        -webkit-appearance: none;
        width: 100%;
        transition: border-color 0.2s ease-in-out;

        &:focus {
            border-color: $color-gray;
        }

        ::-webkit-input-placeholder {
            color: $color-gray;
        }
        :-moz-placeholder {
            color: $color-gray;
            opacity: 1;
        }
        ::-moz-placeholder {
            color: $color-gray;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: $color-gray;
        }
    }
    button {
        margin: 0;
        padding: 0;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 4.5rem;
        background: none;
        -webkit-appearance: none;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}
/*----------*/
