$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Roboto', sans-serif;
$font-family-slab: 'Roboto Slab', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-font: #3E4345; 
$color-font-gray: #919699;
$color-black: #000000; 
$color-green: #2fa84f; 
$color-white: #ffffff; 
$color-gray: #e5e5e5;
$color-red: #ea3d2f;
