*,
*::before,
*::after {
    box-sizing: border-box;
}
::selection {
    background: $color-green;
    color: $color-white;
}
::-moz-selection {
    background: $color-green;
    color: $color-white;
}
html * {
    max-height: 999999px;
}
html,
body {
    height: 100%;
    position: relative;
}
html {
    font-size: 10px;
}
body {
    font-family: $font-family;
    line-height: 1.5;
    font-weight: normal;
    font-size: 1.7rem;
    color: $color-font;
    -webkit-backface-visibility: hidden;
}
sup {
    vertical-align: super;
    line-height: 0;
}
h1,
.h1 {
    margin-bottom: 0.75em;
    font-family: $font-family-slab;
    line-height: 1.2;
    font-weight: bold;
    font-size: 3.4rem;
    color: $color-font;

    @media (min-width: $breakpoint-tablet) {
        font-size: 3.4rem;
    }
}
h2,
.h2 {
    margin-bottom: 0.75em;
    font-family: $font-family-slab;
    line-height: 1.2;
    font-weight: bold;
    font-size: 2.8rem;
    color: $color-font;

    @media (min-width: $breakpoint-tablet) {
        font-size: 2.8rem;
    }
}
h3,
.h3 {
    margin-bottom: 0.75em;
    font-family: $font-family-slab;
    line-height: 1.2;
    font-weight: bold;
    font-size: 3.2rem;
    color: $color-font;

    @media (min-width: $breakpoint-tablet) {
        font-size: 4.2rem;
    }
}
h4,
.h4 {
    margin-bottom: 0.75em;
    font-family: $font-family-slab;
    line-height: 1.2;
    font-weight: bold;
    font-size: 2.4rem;
    color: $color-font;
}
a {
    color: $color-green;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: $color-font;
}
.ov-h {
    overflow: hidden !important;
}
/*----------*/
.b-ruble-font {
    font-family: $font-family-ruble;
}
/*----------*/
@media (max-width: calc(#{$breakpoint-tablet} - 1px)) {
    .hide-on-mobile {
        display: none !important;
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: calc(#{$breakpoint-desktop} - 1px)) {
    .hide-on-tablet {
        display: none !important;
    }
}
@media (min-width: $breakpoint-desktop) {
    .hide-on-desktop {
        display: none !important;
    }
}
