.b-breadcrums {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: -3000px;
        right: -3000px;
        top: -2rem;
        bottom: 0;
        z-index: -1;
        background-color: $color-lightgray;
    }

    a {
        text-decoration: none;
        color: $color-font;

        &::after {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            display: inline-block;
            content: '/';
            pointer-events: none;
            color: $color-font-gray;
        }

        &:last-child {
            color: $color-font-gray;

            &::after {
                display: none;
            }
        }
    }
    a:hover {
        text-decoration: none;
        color: $color-green;

        &::before {
            color: $color-font-gray;
        }
    }
}