.b-checkout {
    margin-bottom: 10rem;

    .h1 {
        margin-bottom: 4rem;
    }
    .checkout__item {
        padding-bottom: 3rem;
    }
    .checkout__separator {
        border-bottom: 1px solid $color-gray;
        line-height: 1;
        margin-bottom: 3rem;
        font-size: 2rem;
        font-family: $font-family-slab;
        font-weight: bold;

        span {
            padding-right: 1rem;
            background-color: $color-white;
        }
    }
    .checkout__inputs {
        margin: 0 -1.5rem;
        display: flex;
        flex-flow: row wrap;
    }
    .checkout__input {
        padding: 0 1.5rem;
        width: 100%;
        margin-bottom: 3rem;
        font-size: 1.5rem;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }
        @media (min-width: $breakpoint-desktop) {
            width: 33.33%;
        }

        &--x2 {
            @media (min-width: $breakpoint-desktop) {
                width: 66.66%;
            }
        }
        &--x3 {
            width: 100%;
        }
    }
    .checkout__footer {
        margin-top: -2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        @media (min-width: $breakpoint-tablet) {
            margin-top: 0;
            justify-content: space-between;
        }
    }
    .checkout__agree {
        padding-bottom: 2rem;
        line-height: 1.2;
        
        @media (min-width: $breakpoint-tablet) {
            text-align: center;
            padding-bottom: 0;
            text-align: inherit;
        }

        a {
            border-bottom: 1px solid $color-font;
            font-size: 1.5rem;
            color: $color-font;
            transition-property: border-color;
        }
        a:hover {
            border-bottom-color: transparent;
        }

        .b-inputbox {
            align-items: flex-start;
        }
    }
    .checkout__btn {
        width: 100%;
        
        @media (min-width: $breakpoint-tablet) {
            max-width: 25rem;
        }
        @media (min-width: $breakpoint-desktop) {
            max-width: 40rem;
        }

        button {
            padding: 1.5rem 2rem;
            border: 0;
            border-radius: 0.5rem;
            display: block;
            width: 100%;
            background: $color-red;
            opacity: 1;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5rem;
            color: $color-white;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 0.75;
            }
        }
    }
}
/*----------*/
