.b-product {
    margin-bottom: 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 8rem;
    }

    .product__gallery,
    .product__content {
        width: 100%;

        @media (min-width: $breakpoint-desktop) {
            width: calc(50% - 1.5rem);
        }
    }
    .product__desc {
        padding-bottom: 2rem;
    }
    .product__params {
        .product__param {
            padding: 0.2rem 0.5rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            border-radius: 5px;
            font-size: 1.3rem;

            &:nth-child(2n + 1) {
                background-color: $color-lightgray;
            }

            img {
                width: 3rem;
            }
            span {
                width: 100%;
                max-width: 8rem;
                padding-top: 0.4em;
                padding-bottom: 0.4em;
                padding-left: 0.5rem;
                font-weight: bold;
            }
            ins {
                padding-left: 0.5rem;
                padding-top: 0.4em;
                padding-bottom: 0.4em;
                text-decoration: none;
            }
        }
    }
    .product__specs {
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 3rem;
        border-top: 1px solid $color-gray2;
        font-size: 1.5rem;
        color: $color-font-gray;

        @media (min-width: $breakpoint-tablet) {
            column-count: 2;
            column-gap: 30px;
        }

        li {
            padding-bottom: 0.3rem;
            display: block;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;

            @media (min-width: $breakpoint-tablet) {
                display: inline-block;
            }
        }
    }

    .product__options {
        padding-bottom: 3rem;
    }
    .product__option {
        margin-right: 1.5rem;
        display: inline-block;
        vertical-align: middle;

        &--border {
            width: 11rem;
            padding: 1rem 1rem;
            border: 1px solid $color-gray2;
            border-radius: 0.5rem;
            display: inline-block;
            flex-flow: row wrap;
            align-items: center;
            font-size: 1.5rem;
        }
    }
    .product__footer {
        padding-bottom: 2rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .product__oldprice {
        margin-right: 2rem;
        text-decoration: line-through;
        font-size: 2.4rem;
        color: $color-font-gray;
    }
    .product__price {
        font-weight: bold;
        margin-right: 2rem;
        font-size: 3.4rem;
    }
    .product__buy {
        padding-top: 2rem;
        margin-left: auto;
        width: 100%;
        position: fixed;
        z-index: 997;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem;

        @media (min-width: $breakpoint-tablet) {
            padding-top: 0;
            max-width: 26rem;
            position: static;
        }

        & > a {
            width: 100%;

            @media (min-width: $breakpoint-tablet) {
                width: 30rem;
            }
        }
    }
}
/*----------*/
.b-specs {
    li {
        margin-bottom: 1rem;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;

        @media (min-width: $breakpoint-tablet) {
            flex-wrap: nowrap;
        }
    }
    span {
        padding-right: 2rem;
        position: relative;
        overflow: hidden;
        font-size: 1.4rem;
        width: 100%;
        color: $color-font-gray;

        @media (min-width: $breakpoint-tablet) {
            font-size: inherit;
            width: 50%;
        }
    }
    ins {
        display: inline;
        text-decoration: none;
        background-color: $color-white;

        &::before {
            content: '';
            display: none;
            position: absolute;
            left: 0;
            height: 2px;
            bottom: 0.2em;
            width: calc(100% - 1rem);
            z-index: -1;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23E5E5E5FF' stroke-width='4' stroke-dasharray='2%2c 4' stroke-dashoffset='5' stroke-linecap='butt'/%3e%3c/svg%3e");

            @media (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
    }
}
/*----------*/
