/*----------*/
.b-filter-fixed {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -150%;
    height: 100%;
    width: 100%;
    z-index: 999;
    transition: left 0.3s ease-in-out;
    
    @media (min-width: $breakpoint-tablet) {
        max-width: 38rem;
    }
    @media (min-width: $breakpoint-desktop) {
        position: static;
    }

    &.active {
        left: 0;
    }

    .filter-fixed__title {
        padding: 1rem 2rem;
        font-family: $font-family-slab;
        font-size: 2rem;
        position: relative;
        font-weight: bold;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);

        @media (min-width: $breakpoint-desktop) {
            display: none;
        }
    }
    .filter-fixed__close {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.3;

        &:hover {
            opacity: 0.5;
        }
        
        img {
            vertical-align: middle;
        }
    }
}
@media (max-width: calc( #{$breakpoint-desktop} - 1px )) {
    .b-filter-fixed-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background-color: $color-black;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        
        &.active {
            opacity: 0.75;
            pointer-events: all;
        }
    }
}
/*----------*/
.b-filter-btn {
    margin-bottom: 4rem;

    span {
        padding: 0.7rem;
        border: 2px solid $color-green;
        border-radius: 0.5rem;
        display: inline-block;
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: $color-green;

        @media (min-width: $breakpoint-tablet) {
            width: calc(50% - 1.5rem);
        }
    }

    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}
/*----------*/
.b-filter {
    padding-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100% - 50px);
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
        padding: 0;
        height: auto;
    }

    .filter__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        flex: 1 auto;
        overflow: auto;

        @media (min-width: $breakpoint-desktop) {
            padding-left: 0;
            padding-right: 0;
            overflow: visible;
        }
    }
    .filter__collapse {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $color-gray;
    }
    .filter__title {
        margin-bottom: 1.5rem;
        position: relative;
        font-family: $font-family-slab;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;

        @media (min-width: $breakpoint-desktop) {
            font-size: 2.2rem;
        }

        &::before {
            content: '';
            margin-top: -0.4rem;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1.4rem;
            height: 0.8rem;
            opacity: 0.3;
            background: url("../img/icon-chevron.svg") 50% 50%/contain no-repeat;
            transition-property: transform, opacity;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
        }

        &:hover::before {
            opacity: 0.5;
        }

        &.inactive {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
    .filter__input {
        margin-right: 1rem;
        position: relative;
        width: 2rem;
        height: 2rem;
        border: 2px solid $color-gray2;
        cursor: pointer;
        transition: border-color 0.2s ease-in-out;

        &:hover {
            border-color: $color-green;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    }
    .filter__label {
        cursor: pointer;
    }
    .filter__range {
        padding-bottom: 1.5rem;

        input {
            padding: 0.7rem 1rem;
            border: 1px solid $color-gray;
            border-radius: 0.5rem;
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            font-size: 1.5rem;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 10%;
        }
    }
    .filter__range-slider {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .filter__items {
        padding-bottom: 1.5rem;
    }
    .filter__item {
        margin-bottom: 1rem;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        input {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;

            &:checked ~ .filter__input {
                border-color: $color-green;
            }
            &:checked ~ .filter__input::before {
                opacity: 1;
            }
        }

        &:hover {
            .filter__input {
                border-color: $color-green;
            }
        }
        
        &--radio {
            .filter__input {
                border-radius: 100rem;

                &::before {
                    width: 0.6rem;
                    height: 0.6rem;
                    background: url("../img/circle.svg") 50% 50% no-repeat;
                }
            }
        }
        &--checkbox {
            .filter__input {
                border-radius: 0.5rem;

                &::before {
                    width: 1.1rem;
                    height: 0.8rem;
                    background: url("../img/check.svg") 50% 50% no-repeat;
                }
            }
        }
    }
    .filter__btns {
        padding: 1rem 2rem;
        display: flex;
        flex-flow: row wrap;
        flex: none;
        align-items: center;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);

        @media (min-width: $breakpoint-desktop) {
            padding: 0;
            box-shadow: none;
        }

        .filter__reset {
            width: 50%;

            img {
                margin-left: 1rem;
                display: inline-block;
                vertical-align: middle;
                transition: transform 0.2s ease-in-out;
            }
            span {
                display: inline-block;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;
                color: $color-green;
    
                &:hover img {
                    transform: rotate(180deg);
                }
            }
        }
        .filter__submit {
            width: 50%;

            @media (min-width: $breakpoint-desktop) {
                display: none;
            }

            span {
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                display: block;
                vertical-align: middle;
                background: $color-red;
                opacity: 1;
                text-transform: uppercase;
                text-align: center;
                color: $color-white;
                transition: opacity 0.2s ease-in-out;

                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }
}
/*----------*/
.noUi-target {
    border: 0;
    box-shadow: none;
}
.noUi-connect {
    background: $color-green;
}
.noUi-horizontal {
    height: 4px;
    background-color: $color-gray;

    .noUi-handle {
        top: -0.8rem;
        right: -1rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid $color-green;
        cursor: pointer;

        &:before, 
        &:after {
            margin-top: -0.4rem;
            width: 0.2rem;
            height: 0.8rem;
            background-color: $color-green;
            top: 50%;
        }
        &:before {
            left: calc(50% - 0.3rem);
        }
        &:after {
            left: auto;
            right: calc(50% - 0.3rem);
        }
    }
}
/*----------*/
